.button {
  border: none;
  cursor: pointer;
  transition: all ease 250ms;
  background-color: var(--color-dark);
  color: white;
}

.button:active {
  scale: 0.95;
}

.primary:hover {
  background-color: var(--color-primary);
  color: var(--color-dark);
}

.secondary:hover {
  background-color: var(--color-secondary);
  color: white;
}

.md {
  font-size: medium;
  padding: 0.75rem 1rem;
  border-radius: 1.5rem;
}

.lg {
  font-size: large;
  padding: 1rem 1.25rem;
  border-radius: 1.75rem;
}

.sm {
  padding: 0.5rem 0.75rem;
  border-radius: 1.25rem;
  font-size: small;
}
