.container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
}

.container h1 {
  font-size: 6rem;
  font-weight: 600;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

@media (width < 1200px) {
  .container h1 {
    font-size: 5rem;
  }
}

@media (width < 900px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .container h1 {
    font-size: 4rem;
  }
}
