.container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  justify-items: center;
  color: var(--color-foreground);
  font-size: smaller;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.container div {
  width: 600px;
  max-width: 90%;
  text-align: center;
}
